*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  color: #111;
  background-color: #6cc4bc;
}

:root {
  --main-bg: linear-gradient(to top, var(--white3) 80%, var(--primary-color) 20%);
  --main-height: 95vh;
  --main-width: 95vw;

  --side-width: 30%;
  --side-upper-height: 18%;
  --side-search-input-width: 75%;
  --side-lower-height: calc(100% - var(var(--side-upper-height)));
  --side-contact-height: 6rem;

  --header-height: 6.5rem;
  --header-profile-image: 4.5rem;

  --chat-width: 70%;
  --chat-action-height: 6rem;
  --chat-action-input-width: 90%;
  --chat-action-input-height: 4rem;
  --chat-main-height: calc(var(--main-height) - var(--header-height) - var(--chat-action-height));
}

html {
  font-size: 62.5%;

  --svg-circle: 50%;

  --white1: #fefefe;
  --white2: #f7f7f7;
  --white3: #fdfdfd;
  --gray: #919191;

  --chat-bg: #ddd8d5;
  --header-bg-color: #ebefef;
  --chat-action-bgcolor: #efefef;
  --chat-msg-me: #caebe8;
  --hover-bgcolor: #ebefef;
  --active-bgcolor: #dcdddd;
  --primary-color: #049588;
  --primary-dark: #134e49;
  --primary-light: #71ddb9;

  --font-lg: 1.8rem;
  --font-md: 1.6rem;
  --font-sm: 1.4rem;
  --font-xs: 1.2rem;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: var(--main-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}


main {
  width: var(--main-width);
  height: var(--main-height);
  background-color: var(--white1);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

svg {
  fill: #333;
}

a:link {
  font-family: monospace;
  color: #049588;
  text-decoration: none;
}

a:hover {
  color: #0b7068 !important;
  text-decoration: underline;
}

a:active {
  color: #153532 !important;
}

a:visited {
  color: #049588;
}